body {
    margin: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}

header {
    background-color: bisque;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2 {font-family: 'Rubik', sans-serif;
    
    
}
h1 {font-size: 50px;
} 

header h1{
    color: rgb(92, 64, 4);
    
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid rgb(207, 152, 80)
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 100%;
    
   
}

h2 {
    font-size: 35px;
    color: rgb(92, 64, 4);
}

