body {
    margin: 0;
}

header {
    background-color: bisque;
    text-align: center;
}

header h1{
    color: rgb(187, 129, 5);
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid rgb(207, 145, 63)
}
